In [3]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
# Load the trained model and preprocessing pkl files
model=load_model('ann_model.h5')

## load the encoder and scaler
with open('oh_encoder_geo.pkl','rb') as file:
    oh_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [14]:
oh_encoder_geo.encoder_dict_['Geography']

['Spain', 'Germany', 'France']

In [17]:
label_encoder_gender.encoder_dict_['Gender']

{'Female': 0, 'Male': 1}

In [5]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [6]:
input_df = pd.DataFrame([input_data])

In [7]:
input_df = label_encoder_gender.transform(input_df)

In [8]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [9]:
input_df = oh_encoder_geo.transform(input_df)

In [10]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,600,1,40,3,60000,2,1,1,50000,0,0,1

In [11]:
input_df = pd.DataFrame(
    scaler.transform(input_df),
    columns=input_df.columns
)

In [12]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,-0.521116,0.916013,0.109617,-0.68539,-0.256906,0.809503,0.642595,0.968738,-0.872033,-0.573694,-0.569844,0.985604

In [13]:
## Predict churn
prediction=model.predict(input_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step

array([[0.03736103]], dtype=float32)

In [14]:
prediction_proba = prediction[0][0]
prediction_proba

0.037361033

In [15]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.